<div id="footer">
    <div>
        <ul class="navigation">
            {% if home %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}
                <a href="{% url 'home' %}">Labs</a>
            </li>

            {% if simple %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}
                <a href='{% url "simple:simple_pendulum_view" %}'>Simple Pendulum</a>
            </li>
            {% if double %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}
                <a href='{% url "double:double_pendulum_view" %}'>Double Pendulum</a>
            </li>
            {% if about %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}
                <a href="{% url 'about' %}">About</a>
            </li>
        </ul>
    </div>
    <p>
        © 2021 by atm1504. All Rights Reserved
    </p>
</div>