{% load static %}
<div id="header">
    <div id="logo">
        <a href="index.html"><img src="{% static 'img/iitp_logo.png' %}" alt="LOGO" height="112" width="118"></a>
    </div>
    <div id="navigation">
        <ul>
            {% if home %}
            <li class="selected">
                {% else %}
            <li>
                {% endif %}
                <a href="index.html">Labs</a>
            </li>
            {% if simple %}
            <li class="selected">
                {% else %}
            <li>
                {% endif %}
                <a href="simple.html">Simple Pendulum</a>
            </li>
            {% if double %}
            <li class="selected">
                {% else %}
            <li>
                {% endif %}
                <a href="double.html">Double Pendulum</a>
            </li>
            {% if about %}
            <li class="selected">
                {% else %}
            <li>
                {% endif %}
                <a href="about.html">About</a>
            </li>

        </ul>
    </div>
</div>