<html lang="en">

<head>
    <title>Simple Pendulum Code</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>

<body>

    <div id="editor">
        syms m a g theta(t)
        eqn = m*a == -m*g*sin(theta);
        syms r
        eqn = subs(eqn,a,r*diff(theta,2));
        eqn = isolate(eqn,diff(theta,2));
        syms omega_0
        eqn = subs(eqn,g/r,omega_0^2);
        syms x
        approx = taylor(sin(x),x,'Order',2);
        approx = subs(approx,x,theta(t));
        eqnLinear = subs(eqn,sin(theta(t)),approx);
        syms theta_0 theta_t0
        theta_t = diff(theta);
        cond = [theta(0) == theta_0, theta_t(0) == theta_t0];
        assume(omega_0,'real')
        thetaSol(t) = dsolve(eqnLinear,cond);
        gValue = 9.81;
        rValue = 1;
        omega_0Value = sqrt(gValue/rValue);
        T = 2*pi/omega_0Value;
        theta_0Value = 0.1*pi; % Solution only valid for small angles.
        theta_t0Value = 0; % Initially at rest.
        vars = [omega_0 theta_0 theta_t0];
        values = [omega_0Value theta_0Value theta_t0Value];
        thetaSolPlot = subs(thetaSol,vars,values);
        fplot(thetaSolPlot(t*T)/pi, [0 5]);
        grid on;
        title('Harmonic Pendulum Motion');
        xlabel('t/T');
        ylabel('\theta/\pi');
        x_pos = sin(thetaSolPlot);
        y_pos = -cos(thetaSolPlot);
        fanimator(@fplot,x_pos,y_pos,'ko','MarkerFaceColor','k','AnimationRange',[0 5*T]);
        hold on;
        fanimator(@(t) plot([0 x_pos(t)],[0 y_pos(t)],'k-'),'AnimationRange',[0 5*T]);
        fanimator(@(t) text(-0.3,0.3,"Timer: "+num2str(t,2)+" s"),'AnimationRange',[0 5*T]);
        playAnimation

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript"
        charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/python");
    </script>
</body>

</html>