{% extends "base.html" %}
{% load static %}
<title>Home Page</title>

{% block base_head %}
<!-- Add css files here -->
{% endblock %}

{% block content %}
<div id="contents">
    <div id="adbox">
        <video width="853" height="423" margin: "0 auto" controls>
            <source src='{% static  "video/simple_pend_vid.mov" %}' type="video/mp4">
        </video>
        <h1>SIMPLE PENDULUM</h1>
        <p>
            A simple pendulum consists of a ball (point-mass) m hanging from a (massless) string of length L and fixed
            at a pivot point P. When displaced to an initial angle and released, the pendulum will swing back and forth
            with periodic motion.
        </p>
        <a href="{% url 'simple:simple_pendulum_code' %}" tabindex="_"><span class="code"> Code</span></a>
        <a href="{% url 'simple:simple_pendulum_simulate' %}" tabindex="_"><span class="code"> Simulate</span></a>
        <div>
            <div class="box"></div>
            <div><span class="center">
                    <h1> Figure </h1>
                </span></div>
            <div>
                <div class="infos">
                    <img src="{% static 'img/simple_diagram.png'%}" alt="Img" class="center" height="25%" width="33%">
                </div>
            </div>
        </div>
        <div>
            <div class="box"></div>
            <div><span class="center">
                    <h1> DERIVATIONS </h1>
                </span></div>
            <div>
                <hr>
                <div class="infos">
                    <p>By applying Newton's second law for rotational systems,</p>
                    <p>\(τ = Iα\)</p>
                    <p>Now, \(τ = −mgsinθL\)</p>
                    <p>\(I = mL^2\) (point mass)</p>
                    <p>\(α = d2θ/dt^2\)</p>
                    <p>τ has negative sign because mgsinθ acts against the motion.</p>
                    <p>Thus equating we get :</p>
                    <p>\( − mgsinθL = mL^2 * d2θ/dt^2\)</p>
                    <p>\(⇒ − gsinθ/L =d2θ/dt^2\)</p>
                    <p>\(d2θ/dt^2 + gsinθ/L = 0\)</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}