{% extends "base.html" %}
{% load static %}
<title>Home Page</title>

{% block base_head %}
<!-- Add css files here -->
{% endblock %}

{% block content %}
<div id="contents">
    <div id="adbox">
        <video width="853" height="423" margin: "0 auto" controls>
            <source src='{% static  "video/simple_pend_vid.mov" %}' type="video/mp4">
        </video>
        <h1>SIMPLE PENDULUM</h1>
        <p>
            A simple pendulum is one which can be considered to be a point mass suspended from a string or rod of
            negligible mass. It is a resonant system with a single resonant frequency.
        </p>
        <a href="{% url 'simple:simple_pendulum_code' %}" tabindex="_"><span class="code"> Code</span></a>
        <div>
            <div class="box"></div>
            <div><span class="center">
                    <h1> DERIVATIONS </h1>
                </span></div>
            <div>
                <hr>
                <div class="infos">
                    <img src="{% static 'img/simple.jpeg'%}" alt="Img" class="center" height="60%" width="80%">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}