{% extends "base.html" %}
{% load static %}
<title>Home Page</title>

{% block base_head %}
<!-- Add css files here -->
{% endblock %}

{% block content %}
<div id="contents">
    <div id="adbox">
        <video width="853" height="423" margin: "0 auto" controls>
            <source src=" {% static '/video/Double pendulum vid.mp4' %}" type="video/mp4">
        </video>
        <h1>DOUBLE PENDULUM</h1>
        <p>
            In physics and mathematics, in the area of dynamical systems, a double pendulum is a pendulum with another
            pendulum attached to its end, and is a simple physical system that exhibits rich dynamic behavior with a
            strong sensitivity to initial conditions. The motion of a double pendulum is governed by a set of coupled
            ordinary differential equations and is chaotic.
        </p>
        <a href="{% url 'double:double_pendulum_code' %}" tabindex="_"><span class="code"> Code</span></a>
        <a href="{% url 'double:double_pendulum_simulate' %}" tabindex="_"><span class="code"> Simulate</span></a>
        <div>
            <div class="box"></div>
            <div><span class="center">
                    <h1> Figure </h1>
                </span></div>
            <div>
                <div class="infos">
                    <img src="{% static 'img/double_figure.png'%}" alt="Img" class="center" height="25%" width="33%">
                </div>
            </div>
        </div>
        <div>
            <div class="box"></div>
            <div><span class="center">
                    <h1> DERIVATIONS </h1>
                </span></div>
            <div id="workings">
                <hr>
                <div class="infos">
                    <img src="{% static 'img/eqns1_DP.jpeg' %}" alt="Img" class="center" height="60%" width="80%">
                </div>
            </div>
            <hr>
            <div class="infos">
                <img src="{% static 'img/eqns2_DP.jpeg' %}" alt="Img" class="center" height="60%" width="80%">

            </div>

            <hr>
            <div class="infos">
                <img src="{% static 'img/eqns3_DP.jpeg' %}" alt="Img" class="center" height="60%" width="80%">

            </div>
        </div>
    </div>
</div>
{% endblock %}